@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --coral: #e66565;
  --pale-blue: #deeef0;
  --light-grey-blue: #96c3c8;
  --greeny-blue: #40acb9;
  --white: #f6f6f6;
  --charcoal-grey: #37474f;
  --light-lime-green: #c8fd6b;
  --ugly-blue: #267983;
  --pastel-blue: #9cc0f9;
  --dusk-blue: #24607e;
}

body {
  min-height: 100vh;
  display: flex;
  background-color: var(--white);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

#logo {
  width: 110px;
  background-color: var(--pale-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

#nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#nav-links > a > img {
  width: 60px;
  height: 60px;
}

.nav-link-active {
  position: relative;
  z-index: 1;
}

.nav-link-active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 1px;
  border-radius: 30px;
  width: 40%;
  border-bottom: 13px solid var(--coral);
  left: 50%;
  transform: translate(-50%, 0);
}

#language-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#language-wrapper > a {
  text-decoration: none;
  color: var(--light-grey-blue);
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}

#language-wrapper > a.active-language {
  color: var(--greeny-blue);
}

main {
  padding: 25px 50px;
}

h1 {
  color: var(--coral);
  font-size: 5.7rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

h2 {
  color: var(--white);
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}

p {
  color: var(--charcoal-grey);
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}
