.qrapp,
.qrguide {
  /* height: 17rem; */
  max-width: 14.2vw;
  max-height: 14.2vw;
  aspect-ratio: 1/1;
}

.hand {
  width: 35rem;
  height: 35rem;
}

.apps {
  display: flex;
  gap: 2rem;
}

.apptext {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 25rem;
  max-width: 30rem;
}

.web-guide {
  display: flex;
  gap: 2rem;
}
.guidetext {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 25rem;
  max-width: 30rem;
}

.info-all {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  width: 100%;
}

.section-guide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.info-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.apptext p {
  width: 80%;
}

.guidetext p {
  width: 80%;
}

@media screen and (max-width: 1400px) {
  .hand {
    display: none;
  }
}
