.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.help-link {
    width: 50px;
    height: 50px;
}

main {
    width: 100%;
}

.questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.question {
    width: 100%;
    border-radius: 30px;
    background-color: '#F8F8F8';
}

.question-visible {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.faq-button {
    width: 44px;
    cursor: pointer;
    transition: transform 0.3s;
}

.faq-button.clicked {
    transform: rotate(-180deg);
}


button {
    background-color: var(--greeny-blue);
    border-radius: 33px;
    border: 0;
    padding: 10px 23px;
    height: 40px;
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    font-weight: 700;
}


.question-hidden > p {
    height: fit-content;
}

.question-hidden {
    transform: scaleY(0);    
    display: block;
    line-height:0;
    height: 0;
    overflow: hidden;
    transition: transform 0.26s ease;
}

.question-hidden-shown {
    height: auto;
    transform: scaleY(1);
    line-height: inherit;
    display: flex;
    padding: 20px;
    background-color: var(--pale-blue);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}