@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
body {
  display: flex;
}

:root {
  --white: #f6f6f6;
  --red: #e66565;
  --light-grey-blue: #96c3c8;
  --greeny-blue: #40acb9;
  --light-blue: #deeef0;
  --grey: #37474f;
  --green: #c8fd6b;
  --ugly-blue: #267983;
  --dark-blue: #9cc0f9;
  --dusk-blue: #24607e;
}

h1 {
  font-size: 4.7vw;
  font-weight: 700;
  color: var(--red);
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}
h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--grey);
  max-width: 70%;
}

p {
  font-size: 1.25vw;
  font-weight: 300;
  color: var(--grey);
  max-width: 70%;
  margin: 0;
}

.nav-part {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 100%;
  background-color: var(--white);
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 80%;
  background-color: var(--white);
  width: 100%;
}
.h2acc {
  padding: 0;
  margin: 0;
}

.divider {
  border-left: 0.08vw solid var(--red);
  height: 3vw;
  /* position: relative; */
  left: 50%;
  /* margin-left: 1rem;
  margin-right: 1rem; */
}
.infoicon {
  aspect-ratio: 1/1;
  height: 3rem;
}
.qrapp,
.qrguide {
  /* height: 17rem; */
  max-width: 14.2vw;
  max-height: 14.2vw;
  aspect-ratio: 1/1;
  padding: 2rem;
}
.hand {
  max-width: 100%;
  height: 38vw;
  padding-right: 4rem;

  /* order: 3; */
}
/* .header-p {
  width: 10rem;
} */
.p-container {
  display: flex;
  /* width: 50rem; */
  margin-right: auto;
  padding: 0;
}
.dashboard {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 50rem; */
  width: 100%;
}
.header-container {
  display: flex;
  width: 85%;
  align-items: center;
  gap: 3rem;
  /* padding: 3rem 0; */
  /* padding: 1vw 5rem 1vw 3rem; */
  /* height: fit-content; */
  /* margin-bottom: 1rem;
  margin-top: 1rem; */
}

.info-all {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.apps {
  display: flex;
}

.web-guide {
  display: flex;
}
/* .brightness,
.volume,
.accfont {
  height:24vh;
} */

.acc-all {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  gap: 6rem;

  /* padding-bottom: 3rem; */
  width: 100%;
  /* margin: 5rem auto 5rem auto; */
}
.section-acc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

/* SLIDER */

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 0.5vw; /* Specified height */
  background: var(--red); /* Grey background */
  border-radius: 33px;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  background: var(--red); /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 2vw; /* Set a specific slider handle width */
  height: 2vw; /* Slider handle height */
  border-radius: 33px;
  background: var(--greeny-blue); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 2vw; /* Set a specific slider handle width */
  height: 2vw; /* Slider handle height */
  background: var(--greeny-blue); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slidecontainer > p {
  margin: 0;
  padding: 1vw 0;
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .acc-all {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: flex-start;
    justify-content: center;
  }

  .slidecontainer {
    width: 70vw;
    height: 4vh;
    overflow: hidden;
  }

  .brightness,
  .volume,
  .accfont {
    height: 100%;
  }

  /* .header-container.h1 {
    order: 1;
  }

  .header-container.p {
    order: 2;
  }

  .header-container.infoicon {
    order: 3;
  } */
  .infoicon {
    position: absolute;
    top: 6vw;
    right: 40vw;
    z-index: 1;
  }
  .divider {
    display: none;
  }
}

/* @media (min-width: 1100px) {
  .hand {
    height: 30%;
  }
  .h1 {
    flex-shrink: 2;
  }
} */
