:root {
  --white: #f6f6f6;
  --red: #e66565;
  --light-grey-blue: #96c3c8;
  --greeny-blue: #40acb9;
  --light-blue: #deeef0;
  --grey: #37474f;
  --green: #c8fd6b;
  --ugly-blue: #267983;
  --dark-blue: #9cc0f9;
  --dusk-blue: #24607e;
}

.laundry-wrapper {
  width: 450px;
  /* height: 32rem; */
  background-color: #e5e5e5;
  border-radius: 10px;
}

.cal-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px 10px;
}
header .current-date {
  font-size: 1.45rem;
  font-weight: 600;
}
header .icons span {
  height: 38px;
  width: 38px;
  color: var(--grey);
  font-size: 1.9rem;
  margin: 0 3px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  background: #e5e5e5;
}

header .icons span:hover {
  background: var(--red);
}

header .icons span:last-child {
  margin-right: 4rem;
}

.calender {
  padding: 20px;
}
.calender ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
.calender .days {
  margin-bottom: 20px;
}
.calender .weeks li {
  font-weight: 600;
}

.calender ul li {
  position: relative;
  width: calc(100% / 7);
}
.calender .days li {
  margin-top: 30px;
  cursor: pointer;
  z-index: 1;
}
.days li.inactive {
  color: rgb(176, 176, 176);
}

.days li.active {
  color: #fff;
}
.calender .days li::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  z-index: -1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li:hover::before {
  background: var(--greeny-blue);
}

.days li.active::before {
  background: var(--red);
}
